body {
    background-color: #FBE7C6;
}

.details {
    display: flex;
    flex-direction: column;
}


.inner-content-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2vh;
    margin-bottom: -4vh;
    border-radius: 10px !important;
    height: 30vh;
    width: 93%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 20px, rgba(0, 0, 0, 0.28) 0px 6px 6px;
    margin-left: 10vh;
    margin-top: 5vh;
}

.inner-content-top .left {
    margin-top: 4vh;
    margin-left: 3vh;
}

.circle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    font-size: 24px;
    position: relative;
    margin-left: 40vh;

}


svg {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    z-index: 0;
    /* Ensure the SVG is behind the text */
}

circle {
    fill: rgb(230, 230, 230);
    stroke-width: 10;
    stroke-linecap: round;
    transition: stroke-dasharray 0.5s ease-in-out, stroke 0.5s ease-in-out;
}

.percentage-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.0em;
    font-weight: 600;
    font-family: Inter;
    z-index: 1;
    /* Ensure the text is above the SVG */
    pointer-events: none;
    /* Ensure the text does not interfere with any click events on the SVG */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: #f2edf3;
}

h1 {
    margin-top: 5vh;
    margin-left: 5vh;
}

.content {
    width: 70vw !important;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 20px, rgba(0, 0, 0, 0.28) 0px 6px 6px;
    min-height: 40vh;
    height: auto;
    margin-left: 10vh;
    margin-top: 10vh;
    border-radius: 10px;
    padding: 10vh;
}

.inner-content {
    width: 90% !important;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 20px, rgba(0, 0, 0, 0.28) 0px 6px 6px;
    min-height: 25vh;
    margin-left: 7vh;
    padding: 5vh;
    margin-top: 3vh;
}

.inner-flex {
    display: flex;
    flex-direction: row;
}

.left-content,
.right-content {
    width: 90%;
    background-color: #f2edf3;
    margin-left: 2vh;
    padding: 3vh;
    border-radius: 10px;
}

input,
h4 {
    margin-top: 2vh;
}
.navbar {
    background-color: #0e387a;
}

.navbar a {
    font-weight: 700;
}

body {
    background-color: #bdc9df;
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.content h1 {
    color: #0e387a;
    margin-top: 5vh;
}

.box {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

.inner-box1 {
    width: 80%;
    height: auto;
    box-shadow: 5px 5px 5px 5px #8f8f8f;
    background-color: #bdc9df;
    border: 1px solid #0e387a;
    margin-left: 10%;
    margin-top: 5vh;
    padding: 3vh;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.answer_set{
    display: flex;
    border-radius: 10px;
    margin-bottom: 1rem;
    width: 100%;
    justify-content: space-evenly;
    gap:1rem;
}

.user_answers{
    border: 1px solid #0e387a;
    box-shadow: 5px 5px 5px 5px #8f8f8f;
    padding: 1.5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    flex-grow: 1;
}

.crct_answers{
    border: 1px solid #0e387a;
    box-shadow: 5px 5px 5px 5px #8f8f8f;
    padding: 1.5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    flex-grow: 1;
}


.navbar i {
    color: black;
    font-size: 25px;
    margin-right: 2vh;
}

.navbar a {
    font-weight: 700;
}


.btn-group {
    margin-left: 98.5%;
    margin-top: -32vh;
    background-color: #EE4B2B;
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.btn-group i{
    font-size: 35px;
    border-radius: 100%;
}

.para-text{
    width: 90%;
    height: 15vh;
    border-radius: 10px;
    background-color: #f3e1dd;
    padding: 1rem;
    margin-left: 3%;
}

.left-ques{
    margin-left: 8%;
    font-size: 20px;
    font-weight: 500;
}
.stars{
    line-height: 2vh;
}

.content .header{
   text-align: center;
}


.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.error-border {
    border: 1px solid red !important;
}


.rating-option{
    margin-top: 4vh;
}

.rating-box .option{
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background-color: #8d5e53;
    color: white !important;
}

.rating-box{
    margin-top: 2vh;
}

.rating-box header {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

.rating-box .stars {
    display: flex;
    flex-direction: row;
    gap:1rem;
    
}
.pair{
    margin-left: 5vh;
    font-size: 20px;
    font-weight: 500;
}

.stars .left-ques {
    width: 20%;
}

.stars i {
    color: #e6e6e6;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.stars i.active {
    color: #ff9c1a;
}


.inner-content{
    display: flex;
    flex-direction: row;
    padding-top: 2vh;
    margin-bottom: -4vh;
}

.circle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    font-size: 24px;
    position: relative;
    margin-left: 40vh;

}


svg {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    z-index: 0; /* Ensure the SVG is behind the text */
}

circle {
    fill: rgb(230, 230, 230);
    stroke-width: 10;
    stroke-linecap: round;
    transition: stroke-dasharray 0.5s ease-in-out, stroke 0.5s ease-in-out;
}

.percentage-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.0em;
    font-weight: 600;
    font-family: Inter;
    z-index: 1; /* Ensure the text is above the SVG */
    pointer-events: none; /* Ensure the text does not interfere with any click events on the SVG */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.right{
    margin-top: -5vh;
    margin-bottom: 4vh;
}

#go-back-form{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    gap:1rem;
}
#go-back-btn{
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: green;
    color: #fff;
    border-style: none;
}



#update-rank{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    gap:1rem;
    border-style: none;
}
#rank-input{
    font-size: 1.5rem;
    border-radius: 5px;
    border-style: none;
}
#rank-submit{
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: green;
    color: #fff;
    border-style: none;
}
@media (max-width:1300px) {

    .inner-box1 h2{
        font-size: 24px;
    }
    .circle-container{
        margin-left: 30vh;
    }

}

@media (max-width:1000px) {

    .inner-box1 h2{
        font-size: 20px;
    }
    .pair{
        font-size: 15px;
        font-weight: 500;
    }
    .inner-content{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:800px) {

    .answer_set{
        display: flex;
        flex-direction: column;
    }
    .stars i{
        font-size: 15px;
    }
    .content h1 {
        font-size: 25px;
    }
    .pair{
        margin-left: 5vh;
    }
    .para-text{
        width: 70%;
    }
    .left-ques{
        font-size: 15px;
    }
  
    .right{
        margin-left: -10vh;
        margin-top: 1vh;
    }
    .circle-container{
        margin-bottom: 3vh  ;
        margin-left: 18vh;
    }
}

@media (max-width:600px){
    .stars i{
        font-size: 12px;
    }
    .right{
        margin-left: -10vh;
        margin-top: 1vh;
    }
    #rank-input{
        width: 40% !important;
    }
    #rank-submit{
        font-size: 18px;
    }
    #go-back-btn{
        font-size: 18px;
    }
}

@media (max-width:450px){
    .inner-box1{
        width: 90%;
        margin-left: 3%;
    }
    .inner-box1 h2{
        font-size: 15px;
    }
    .content h1{
        font-size: 20px;
    }
    #rank-input{
        width: 40%;
    }
    #rank-submit{
        font-size: 15px;
    }
    #go-back-btn{
        font-size: 15px;
    }
}

  .unselectable {
    pointer-events: none;
}