.content-wrapper {
    background-color: #ecf7fc !important;
  }

  .progress {
    background-color: #d8d8d8;
    border-radius: 20px;
    position: relative;
    margin: 15px 0;
    height: 30px;
    width: 300px;
  }

  .progress-done {
    box-shadow: 0 3px 3px -5px rgba(0, 0, 0, 0.3), 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1s ease 0.3s;
  }

  .badge {
    margin-top: 4vh;
    margin-left: 2vh;
  }

  .badge-card>.card {
    width: 60%;
    min-width: 60%;
  }

  .img-badge {
    margin-top: -2vh;
    margin-bottom: 3vh;
  }


  .card-link {
    text-decoration: none;
    color: black;
  }

  .completed-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
  }

  .no-badges {
    font-size: 25px;
    font-style: normal;
    margin-top: 10vh;
  }

  .no-review {
    font-size: 25px;
    font-style: normal;
    margin-bottom: 10vh;
  }

  .badge-button {
    padding: 2vh;
    border-radius: 5px;
    background-color: #FA889B;
    border: none;
    margin-top: 2vh;
  }

  @media (max-width: 1510px) {
    .completed-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      flex-direction: column;
    }
  }

  @media (max-width:1200px) {
    .badge-card>.card {
      width: 80%;
      min-width: 80%;
    }

    .card-body h4 {
      font-size: 18px !important;
    }
  }

  @media (max-width:760px) {
    .badge-card>.card {
      width: 50%;
      min-width: 50%;
    }

    .card-body h4,
    i {
      font-size: 18px !important;
    }
  }

  @media (max-width: 500px) {
    .stretch-card {
      margin-left: -4%;
    }
  }

  @media (max-width:376px) {
    .stretch-card {
      margin-left: -1%;
      width: 70% !important;
    }

    .card {
      width: 95%;
    }

    .progress {
      width: 70vw;
      margin: 5px 0;
      margin-left: -3vh;
    }

    .badge-card>.card {
      width: 70%;
      min-width: 70%;
    }

    .card-body h4,
    i {
      font-size: 17px !important;
    }
  }

  @media (max-width: 325px) {
    .stretch-card {
      margin-left: -5% !important;
    }

    .badge-card>.card {
      width: 70%;
      min-width: 70%;
    }

    .card-body h4,
    i {
      font-size: 13px !important;
    }
  }